<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task-Mate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>

    <div class="container">
        <h1>Welcome to <span style="color: red;">TaskMate</span> </h1>
        <p>Organize your tasks efficiently. Log in or register to get started!</p>

        <!-- Login Button -->
        <a href="/login"><button class="login-btn">Log In</button></a>

        <!-- Register Button -->
        <a href="/register"><button class="register-btn">Register</button></a>
    </div>


</body>
</html>
